.heading
{
    width: 100%;
    text-align: center;
}

.heading h3
{
    display: inline;
}

#start
{
    margin-top: 40px;
}

#instur
{
    background-color: black;
    float: right;
}

#restart
{
    margin-top: 40px;
    margin-left: 20px;
}

.instruction_text
{
    display: inline-block;
    width: 45%;
}

canvas
{
    border: 5px solid lightskyblue;
    border-radius: 5px;
}